user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
  worker_connections  1024;
}

http {
  proxy_cache_path /tmp/nginx_cache levels=1:2 keys_zone=image_cache:10M max_size=100M inactive=40d;

  # This prevents internal IP addresses from leaking when providing an empty host header
  # requests where the Host header does not match *.ndla.no will be closed (nginx closes the connection when returning a 444)
  server {
    listen 79;
    server_name "";
    return 444;
  }

  # Port 79 brukes fra ELB port 80 for å hindre http (redirigere til https)
  server {
    server_name *.ndla.no;
    listen 79;
    return 301 https://$host$request_uri;
  }

  server {
    listen 80;
    server_name "";
    return 444;
  }

  # Port 80 brukes fra ELB port 443
  server {
    server_name *.ndla.no;
    listen 80;
    charset UTF-8;
    error_log /var/log/nginx/error.log debug;
    access_log /var/log/nginx/access.log;

    resolver 127.0.0.11;

    set $images            'image-api.ndla-local';
    set $api_gateway       'api-gateway.ndla-local';

    location ~* ^/audio/files/(.*) {
      set $s3_bucket        's3.eu-central-1.amazonaws.com/${NDLA_ENVIRONMENT}.audio.ndla';
      set $url_image        '$1';

      proxy_set_header       Referer    'ndla_proxy';
      proxy_pass             https://$s3_bucket/$url_image;
    }

    location ~* ^/image-api/(v.*)/raw/(.*) {
      set $s3_bucket        's3.eu-central-1.amazonaws.com/${NDLA_ENVIRONMENT}.images.ndla';
      set $url_image        'http://$images/image-api/$1/raw/$2$is_args$args';

      if ($args = '') {
        set $url_image      'https://$s3_bucket/$2?';
      }

      proxy_set_header       Referer    'ndla_proxy';
      proxy_pass             $url_image;

      proxy_cache image_cache;
      proxy_cache_key "$proxy_host$uri$is_args$args";
      proxy_cache_valid 30d;
      proxy_cache_lock on;
      proxy_cache_use_stale error invalid_header timeout updating;
      proxy_http_version 1.1;
      expires 30d;
    }

    location ~* ^/health$ {
        add_header 'Content-Length' 0;
        return 200;
    }

    location / {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$api_gateway;
    }
  }
}
